body{
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: center;
  flex-direction: column;
}

.analyseButton{
  margin-top: 15px !important;

}

.title{
  margin-bottom: 10px !important;
}

.searchBar{
  margin-bottom: 5px !important;
}