@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
  background-color: #f9f8f8;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  min-height: 100vh;
}

.analyseButton{
  margin-top: 15px !important;

}

.title{
  margin-bottom: 10px !important;
  font-family: 'Chelsea Market', cursive !important;
}

.searchBar{
  margin-bottom: 5px !important;
}

.chart{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footerDiv{
  position: relative;
  bottom: 0;
  align-items: center;

}

.loadingBar{
  margin-top: 10px;
}

.credit{
  font-family: 'Quicksand', sans-serif;
}
