@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

.title{
    font-family: 'Merriweather Sans', sans-serif !important;
}

.content{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 300;
    font-style: italic;  

}

